@import url('https://fonts.googleapis.com/css2?family=Acme&family=Borel&family=Dancing+Script&family=Poppins:wght@100;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Acme', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #E4EBF5;
}

.contaner {
    height: 60vh;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.418);
    border-radius: 20px;
    box-shadow: 0.3rem 0.3rem 0.6rem lightgrey,
        -0.2rem -0.2rem 0.5rem lightgrey;
}

.textPart {
    padding: 40px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: inset 0.2rem 0.2rem 0.5rem lightgrey,
        inset -0.2rem -0.2rem 0.5rem lightgrey;
    display: flex;
    flex-wrap: nowrap;

}

.textPart input {
    width: 55vh;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: inset 0.2rem 0.2rem 0.5rem lightgrey,
        inset -0.2rem -0.2rem 0.5rem lightgrey;
    border: none;
    padding: 10px;
    margin-right: 10px;
    font-size: 17.5px;

    &:focus {
        outline: none;
    }
}

.textPart button{
    padding: 11px;
    width: 50px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    box-shadow: 0.3rem 0.3rem 0.6rem lightgrey,
        -0.2rem -0.2rem 0.5rem lightgrey;
}
.textPart button:focus{
    outline: none;
}
.textPart button:active{
    box-shadow: inset 0.2rem 0.2rem 0.5rem lightgrey,
        inset -0.2rem -0.2rem 0.5rem lightgrey;
}


.show_task {
    height: calc(100% - 22.5vh);
    border-radius: 15px;
    box-shadow: inset 0.2rem 0.2rem 0.5rem lightgrey,
        inset -0.2rem -0.2rem 0.5rem lightgrey;
    padding: 20px;
    overflow: auto;
}

.show_task .conten_task {
    list-style: none;

}

.show_task .conten_task li {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.show_task .conten_task li span {
    height: 45px;
    padding: 10px;
    border-radius: 10px;
    list-style: none;
    box-shadow: inset 0.2rem 0.2rem 0.5rem lightgrey,
        inset -0.2rem -0.2rem 0.5rem lightgrey;
    display: grid;
    place-content: center;
}

.show_task .conten_task li div.text_Task {
    width: calc(100% - 100px);
    height: 45px;
    padding: 10px;
    margin: 0px 10px;
    border-radius: 10px;
    list-style: none;
    box-shadow: inset 0.2rem 0.2rem 0.5rem lightgrey,
        inset -0.2rem -0.2rem 0.5rem lightgrey;
}
.status {
    font-size: 18px;
    color: green;
}
.status ion-icon{
    opacity: 0;
}
.status ion-icon.checked{
    opacity: 1;
}